

body{
    background: rgb(7, 11, 20)


}

h1{
text-align: center;
color: rgb(253, 0, 76);
}

p{
text-align: center;
color: aliceblue;
}

 li{
    color: rgb(253, 0, 76);
 }

 header {
    background: rgb(7, 11, 20)
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}