body{
    background: rgba(124, 115, 115, 0.61);

}

h1 {
    text-align: center;
    background: rgb(31, 243, 31);
    color: blue;

}

p {
    text-align: center;
}

.primeira {
    font-size: 20px;
}

