title {
    color: rgb(228, 9, 9);

}

body{
    background: rgba(173, 171, 171, 0.61);

}

h1 {
    text-align: center;
    color: rgb(228, 9, 9);

}

p {
    text-align: center;
}

.primeira {
    font-size: 20px;
}

#Pass {
    height: 150px;
}



