title {
    color: rgb(228, 9, 9);

}

body{
    background: rgb(7, 11, 20)


}

/*NAVEGAÇÃO ENTRE PAGINAS*/
.navegação {
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 400px;
    margin: 0 auto;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: rgb(247, 3, 3);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;    
 }

nav a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

/*HOME*/

h1 {
    text-align: center;
    color: rgb(253, 0, 76);

}

h2{

    text-align: center;
    color: rgb(253, 0, 76);
}


p {
    text-align: center;
    color: aliceblue;
}

.primeira {
    font-size: 20px;
}

#Pass {
    height: 70px;
}

#KatQ{
    height: 70px;
}

#KatW{
    height: 70px;
}

#KaTE{
    height: 70px;
}

#KatR{
    height: 70px;
    text-align: center;

}
#Katarina{
    height: 400px;
}

#logo{
    height: 200px;
}

#vio{
    font-size: 20px; text-align: center;
}


#logo3{
    width: 200px;
    height: 200px;

}

footer {
	text-align: center;
	background: #070707

}
.copyright {
	color: #FFFFFF;
    font-size: 13px;

}

.Historia{
	text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
}

/*css da página inicial*/
.Katarina {
    width:50%;
}
.Historia {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
}
.Texto p {
    margin: 0 0 1em;
}
.texto strong {
    font-weight: bold;
}

.texto em {
    font-style: italic;
}

.itens p {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;

}
h3{
    font-size: 30px;
    text-align: center;
    color: rgb(253, 0, 76);
    clear: left;

}

.itens{
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    margin: 0 0 1em;
    font-weight: bold;
    clear: left;

}
.velho{

    
        width: 150px;
        float: left;
        margin: 0 10px 10px 0;
    
}
