title {
    color: rgb(228, 9, 9);

}

body{
    background: rgb(7, 11, 20)


}

h1 {
    text-align: center;
    color: rgb(253, 0, 76);

}

h2{

    text-align: center;
    color: rgb(253, 0, 76);
}


p {
    text-align: center;
    color: aliceblue;
}

.primeira {
    font-size: 20px;
}

#Pass {
    height: 70px;
}

#KatQ{
    height: 70px;
}

#KatW{
    height: 70px;
}

#KaTE{
    height: 70px;
}

#KatR{
    height: 70px;
    text-align: center;

}
#Katarina{
    height: 400px;
}

#logo{
    height: 200px;
}

#vio{
    font-size: 20px; text-align: center;
}